#
# CLARION TO INTERBASE GDB CONVERTER
# Sample configuration file
# Copyright (C) by Dmitry Koudryavtsev
#
;------------------------------------------------------
; Target Interbase Database
;
DBName = /opt/interbase/ibabc.gdb
;
;------------------------------------------------------
; UserID
;
User = SYSDBA
;
;------------------------------------------------------
; Password (for autologin)
;
Password = masterkey
;
;------------------------------------------------------
; Database collation and locale conversion for linux
;
Collation = WIN1251
;
;
SourceLocale = CP866
TargetLocale = WINDOWS-1251
;
;------------------------------------------------------
; Use Unique ID generator (SUPER_GEN)
;
UseSuperGen = Yes
;
;------------------------------------------------------
; Commit After N records: 1..N
;
CommitAfter = 20000
;
;------------------------------------------------------
; "Undelete" records marked as "Deleted" in DAT
;
Undelete = No
;
;------------------------------------------------------
; "WaitFor" - Wait for the next try to open source file
;             in 'msec'
;
WaitFor = 10
;
;------------------------------------------------------
; "ArrayAsStr" - array will be converted to string,
;   delimited by ';'
;
ArrayAsStr = No
;
;------------------------------------------------------
; "DeleteOld" - delete old records before conversion
;   (useful for empty databases)
;
DeleteOld = Yes
;
;------------------------------------------------------
; "DateSupport" - Support DATE resolution algorythm
; "TimeSupport" - Support TIME resolution algorythm
;
DateSupport = Yes
;DateStarted = DOW
DateContains = DATE
;
TimeSupport = Yes
;TimeStarted = TM
TimeContains = TIME
;
;------------------------------------------------------
; Field "aliasing"
;
; FIELD=<OLD FIELD NAME>;<NEW NAME>;
;
FIELD=ACC:DATE0;    DATE00;
FIELD=ACC:DATE;     DATE01;
FIELD=ACC:TIME;     "TIME";
FIELD=LST:DATE;     DATE01;
FIELD=MED:MIN;      MMIN;
FIELD=MED:MAX;      MMAX;
FIELD=MED:WAIT;     MWAIT;
FIELD=REG:SELECT;   RSELECT;
FIELD=ECW:ACTION;   RUNACTION;
FIELD=PT:ID;        PTID;
FIELD=PT:GROUP;     PTGROUP;
FIELD=PT:PLAN;      PTPLAN;
;FIELD=USR:CURRENCY; UCURR;
;
;------------------------------------------------------
; Clarion Databases
;
; CDb=<OFFICE ID>;<DATABASE ID>;<INCREMENTAL>;<DATA PATH>;{<TABLES>};
;
; Linux version
;CDb = 1; 40; No; /mnt/diskj/ltd/40; USR.DAT;
;
; Win32 version
;CDb = 1; 10; No; j:\10; acc; lst; med; fex; reg; ref; usr;
;CDb = 1; 10; No; /mnt/disk/ltd/10; ACC.DAT; USR.DAT; LST.DAT; MED.DAT;
CDb = 1; 50; No; /mnt/disk/ltd/50; MED.DAT; FEX.DAT;
CDb = 1; 55; No; /mnt/disk/ltd/55; MED.DAT; FEX.DAT;
;CDb = 1; 60; No; /mnt/disk/ltd/60; ACC.DAT; USR.DAT; LST.DAT; MED.DAT;
;CDb = 1; 65; No; /mnt/disk/ltd/65; ACC.DAT; USR.DAT; LST.DAT; MED.DAT;
;CDb = 1; 15; No; j:\15; reg;
;
;
